.container{
    width: 100%;
    position: relative;
    min-height: calc(100vh - 7rem);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1.5rem 1rem;
}
.wrapper {
    width: 100%;
    padding: 2rem;
    background-color: var(--color-light--2);
    color: #000;
    border-radius: 10px;
}
