.cta {
    width: fit-content;
    padding: 20px;
    margin-top: 1rem;
    border: none;
    background-color: var(--color-brand--2);
    border-radius: 50px;
    font-family: Roboto;
    font-size: 1.2rem;
    cursor: pointer;
}