.login{
    background-color: rgba(255,255,255,0.5);
    /* box-shadow: 0 0 5px 0px ; */
    border-radius: 10px;
    padding: 2rem;
    color: #000;
    display: flex;
    flex-direction: column;
    
}
.login h2{
    font-family: montserrat;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 0;
}
.login p{
    font-size: 1.2rem;
    font-family: roboto;
}
.login form{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 1rem;
}

.login button{
    width: 100%;
    padding: 15px;
    border: 1px solid var(--color-brand--2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--color-light--2);
}