.login{
    background-color: rgba(255,255,255,0.5);
    /* box-shadow: 0 0 5px 0px ; */
    border-radius: 10px;
    padding: 2rem;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 5px; 
}
.login h2{
    font-family: montserrat, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px 0;
    line-height: 1.5em;
}
.login p{
    font-size: 1.2rem;
    font-family: roboto;
    line-height: 1.5em;
}
.login form{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 1rem;
}
.email{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.email input{
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    outline: 0;
    border: 1px solid var(--color-brand--2);
    border-radius: 10px;
}
.email input::before{
    content: "fdsfjhdhakfhdaf";
}
.email span{
    position: absolute;
    left: 10px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.login button{
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid var(--color-brand--2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: var(--color-brand--2);
    color: #fff;
}